* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
    color: rgba(7, 212, 255, 1)
}
h1 {
    text-align: center;
    padding: 1rem;
}
a {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 3px rgba(7, 212, 255, 1);
    text-decoration: none;
}


.page-header {
    border-bottom: solid 2px rgba(7, 212, 255, 1);
    text-align: center;
    padding-bottom: 1rem;
}
.storage-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-top: solid 1px rgba(7, 212, 255, 1);
    box-shadow: 0 -10px 12px #0000009c;
}
.storage-nav ol {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    list-style: none;
    padding-left: 20px;
}
.current-page {
    position: relative;
    text-decoration: underline;
}
.current-page::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: rgba(7, 212, 255, 1);
    position: absolute;
    left: -20px;
    bottom: 50%;
    transform: translateY(50%);
    border-radius: 50%;
}
.main-menu {
    margin-top: 2rem;
    border-top: solid 1px rgba(7, 212, 255, 1);
    border-bottom: solid 1px rgba(7, 212, 255, 1);
    padding: 0.75rem;
    box-shadow: inset 0 0 20px rgba(7, 212, 255, 0.5), inset 0 0 5px rgba(7, 212, 255, 0.5);
}

.main-menu-routes ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    list-style: none;
}
#spreadBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1.5rem;
    margin-top: 3rem;
    border: solid 1px #5555558e;
    border-top: solid 4px #5555558e;
    padding-top: 2rem;
    padding-bottom: 6rem;
    box-shadow: inset 0 0 10px rgba(7, 212, 255, 1), 0 0 4px #fff;
    border-radius: 0.2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    min-height: 100%;
    height: 100%;

}

.storage-item-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.storage-item-label-data {
    width: 90%;
    border: solid 1px rgba(7, 212, 255, 1);
    box-shadow: inset 0 0 10px rgba(7, 212, 255, 1), 0 0 4px #fff;
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    padding: 0.5rem;
}
.storage-item-label-data h3 {
    border-bottom: solid 1px #fff;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    padding: 0.15rem;
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.storage-item-label-data h6, .storage-item-label-data span {
    color: #fff;
    font-weight: lighter;
    font-size: 0.85rem;
}
.storage-item-label-data span:is(.fragile) {
    color: orangered;
    font-size: 1rem;
    padding-left: 0.5rem;
    font-weight: bold;
}
.fragile {
}
.not-fragile {
    display: none;
}
.storage-item-label-data p {
    font-weight: lighter;
    font-size: 1rem;
    padding: 0.5rem;
}



.item-header {
    /* background-color: blue; */
    /* border: solid 1px blue; */
    width: 100%;
}
.item-header h1 {
    text-align: center;
}

.item-body {
    /* background-color: orange; */
    /* border: solid 1px orange; */
}
.item-description {
    /* background-color: blue; */
    padding: 1rem;
    margin-bottom: 2rem;
    width: 95%;
    margin-inline: auto;
}
.item-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 5rem;

}
.item-body img {
    max-width: 100%;
    width: 300px;
    max-height: 80vh;
}
.item-image {
    max-width: 90%;
    max-height: 100%;
    background-color: #222;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 1rem;
}
.item-footer {
    /* background-color: purple; */
    /* border: solid 1px purple; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.item-footer-detail {
    padding: 1rem;
    margin-bottom: 2rem;
    border: solid 1px rgba(7, 212, 255, 1);
    border-radius: 1rem;
}


#codeScanner {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-top: solid 3px rgba(7, 212, 255, 1);
    border-bottom: solid 3px rgba(7, 212, 255, 1);
    box-shadow: inset 0 0 12px rgba(7, 212, 255, 1);
}

#codeScanner h3 {
    text-shadow: 0 0 2px #000000d2, 0 0 12px #000000ad;
}
.qr-scanner-visual {
    position: relative;
}
.qr-scanner-start-button {
    width: 100%;
    height: 100%;
    z-index: 105;
    position: absolute;
}
.qr-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    max-width: 100px;
    max-height: 100px;
}
.qr-reader {
    opacity: 0.75;
    width: 300px;
    max-height: 300px;
    margin-bottom: 1rem;
    border: solid 2px rgba(7, 212, 255, 1);
    border-radius: 0.75rem;
    overflow: hidden;
}
.qr-reader video {
    max-height: 300px;
    height: 300px;
    max-width: 300px;
    object-fit: cover;

}

.blur-overlay {
    position: absolute;
    border-radius: 0.75rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
}

.qr-code {
    border: solid 3px rgba(7, 212, 255, 1);
    box-shadow: 0 0 12px rgba(7, 212, 255, 0.75);
    border-radius: 1rem;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    width: 300px;
    height: 300px;
    margin-inline: auto;
    margin-top: 2rem;
}
.qr-code img {
    max-width: 100%;
    max-height: 100%;
}